<h1>Result</h1>
<% if @bool == true %>
    <p>Congrats <%=@answer.join%> exist in english !</p>
<% else %>
    <p>Sorry but <%=@answer.join%> can't be built out of <%=@grid%></p>
<% end %>

<%= link_to "Play again", new_path %>

<%= console %>
